apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: vault
spec:
  vault:
    server: https://vault.trial.studio
    path: pki_int/sign/trialstudio
    auth:
      kubernetes:
        role: cert-manager
        mountPath: /v1/auth/kubernetes
        serviceAccountRef:
          name: vault-cert-manager
          audiences:
            - "cert-manager"